# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы настроек IDE и текстовых редакторов
.idea/
.vscode/
*.sublime-workspace
*.iml

# Игнорировать файлы локальной базы данных SQLite
*.sqlite3

# Игнорировать файлы локальных настроек Django
*.pyc
*.bak
*.swp

# Игнорировать файлы настроек окружения (например, .env)
.env

# Игнорировать файлы зависимостей и виртуальной среды
venv/
env/
*.env